body{
    background-color: #8B97F1;
}


  footer {
  width: 102.5%;
  background: #202020;
  color: white;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

#camp{
font-family: 'Carter One', cursive;
text-align: center;
    color:#000C68; 
  font-size: 70pt;
}
.info {
    color: white;

  font: oblique 120% cursive;
    
}
.camp{
     color: white;
  font-family:"Segoe UI";
}
